#root {
    -fx-background-image: url("../images/space.gif");

}

.button {
    -fx-cursor: hand;
    -fx-background-color: #e6e6e663;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-border: solid;
    -fx-border-color: rgba(230, 230, 230, 10);
    -fx-text-fill: rgb(234, 234, 234);
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-family: "Verdana";
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(245, 245, 245, 100), 30, 0.1, 0, 0);
}

Text {
    -fx-effect: dropshadow(three-pass-box, rgba(245, 245, 245, 200), 30, 0.3, 0, 0);
    -fx-fill: white;
}