#root {
    -fx-background-image: url('../images/space.gif');
    -fx-background-size: cover;
    -fx-alignment:top-center ;
}

#root2 {
    -fx-background-image: url('../imagesVeryLowRes/space.png');
    -fx-background-size: cover;
    -fx-alignment:top-center ;
}


.boutton {
    -fx-background-size: contain;
    -fx-cursor: hand;
    -fx-background-color: #e6e6e663;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-border: solid;
    -fx-border-color: rgba(230, 230, 230, 10);


}

.boutton:hover,
.boutton:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(245, 245, 245, 100), 30, 0.2, 0, 0);
}

/******************************CSS du Tableau stats ***********************************/
#stats {
    -fx-alignment: center;
    -fx-fill: white;
    -fx-background-color: transparent;
    -fx-border-insets: 30 200 0 200;
    -fx-padding: 10 5 10 10;
    -fx-border: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 7px 7px 0px 0px;
    -fx-border-color: rgba(167, 167, 167, 10);
    -fx-effect: dropshadow(three-pass-box, rgba(245, 245, 245, 100), 30, 0.5, 0, 0);
}

#stats .table-cell {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: rgb(234, 234, 234);
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-family: "Verdana";
}

#stats .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(38, 38, 38);
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-family: "Verdana";

}

#stats .corner {
    -fx-background-color: transparent;
}

#stats .virtual-flow .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: -10 0 -12 0;
}

#stats .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #40404092, #8f8f8fa0);
}

#stats .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}

#stats .virtual-flow .scroll-bar:horizontal {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

#stats .virtual-flow .scroll-bar .increment-button,
#stats .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
}


#stats .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #a7a7a85e, #8181818a);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 13 0 0;
}

#stats .column-header-background:hover {
    -fx-background-color: linear-gradient(to bottom, #9a9a9c52, #b5b5b5cc);
}

#stats .column-header {
    -fx-background-color: transparent;
    -fx-padding: 0 0 5px 0;
}

#stats .table-row-cell {
    -fx-background-color: transparent;
    -fx-border: solid;
    -fx-border-color: white;
    -fx-border-width: 0 1 1 1;
    -fx-cell-size: 80px;
}

#stats .table-row-cell:odd {
    -fx-background-color: #4d4d4d0a;
}

#stats .table-row-cell:hover,
#stats.table-row-cell:focused {
    -fx-background-color: #00000011;
}

/*************************************************************************************************/
#replay {
    -fx-alignment: center;
    -fx-text-fill: #ffffffe1;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-font-family: "Verdana";
    -fx-min-height: 30px;

}

#valid {
    -fx-text-fill: #ffffffe1;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-font-family: "Verdana";
    -fx-min-height: 30px;

}

#valid:hover,
#valid:focused,
#replay:hover,
#replay:focused {
    -fx-background-color: #e6e6e67c;
}

#retour {
    -fx-background-image: url('../images/return.png');
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 50px;
}

#retour:hover,
#retour:focused {
    -fx-background-image: url('../images/returnHover.png');
    -fx-effect: dropshadow(three-pass-box, rgba(245, 245, 245, 100), 30, 0.2, 0, 0);
}

#txtPseudo {
    -fx-fill: #ffffffe1;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(245, 245, 245, 100), 30, 0.5, 0, 0);
}

#pseudotxtfield {
    -fx-effect: dropshadow(three-pass-box, rgba(245, 245, 245, 100), 10, 0.2, 0, 0);
    -fx-border-insets: 0 400 0 400;
    -fx-background-insets: 0 400 0 400;
    -fx-background-color: rgba(255, 255, 255, 0.515);
    -fx-border-color: rgba(255, 255, 255, 0.515);
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
}

#txtclassement {
    -fx-background-image: url("../images/classement.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-pref-height: 50px;

}